# example config file

print loadMesh -p "D:\Users\Magnus\Documents\Studium\StuPro\Project\StuProWaterfallFinal.obj"
#loadMesh -p "D:\Users\Magnus\Documents\Studium\StuPro\Project\StuProWaterfallFinal.obj"
loadMesh -p "D:\Users\Magnus\Documents\Studium\StuPro\Project\StuProCubeTri.obj"

print loadShutter -p "D:\Users\Magnus\Documents\Studium\StuPro\Project\StuProWaterfallShutter.obj"
loadShutter -p "D:\Users\Magnus\Documents\Studium\StuPro\Project\StuProWaterfallShutter.obj"

# 0.0 5.5 10.3
print addSource -v 0.0 11.0 51.5
addSource -v 0.0 11.0 51.5

print addSink -h 0.0
addSink -h 0.0

print particleGen
particleGen

print moveShutter -t 1
moveShutter -t 1

print simulate -t 1
simulate -t 1

# render -v 10 50 -60
print render -v 10 0 -60
render -v 10 0 -60

print Config file finished
exit
